[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
googlenews = "*"
requests = "*"
pandas = "*"
scikit-learn = "*"
bs4 = "*"
numpy = "*"

[requires]
python_version = "3.8"
